.project-div {
  width: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-card {
  display: inline-flex;
  border: 1px solid white;
  margin: 15px;
  width: 30vw;
  height: 84vh;
  flex-direction: column;
  border-radius: 10px;
}

.project-card:hover {
  transform: scale(1.2);
}

.project-img {
  width: 100vw;
  height: 25vh;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}

.project-btn {
  width: 70vw;
}

h3 {
  border-bottom: 1px solid white;
  font-weight: bold;
  text-align: center;
}

h3,
p {
  padding: 10px;
  justify-content: center;
}

.project-btn {
  width: 70%;
  margin: 10px;
  border: 2px solid;
  font-weight: bold;
  margin-left: 5vw;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  padding: 5px;
}
