* {
  background-color: rgb(31, 13, 35);
}

.personal_image {
  width: 20%;
  height: 20%;
}
nav {
  height: 12vh;
}

.home,
.about,
.contact,
.navbar,
.projects,
.services,
.skills {
  width: 100vw;
  /*  height: 100vh;  */
  color: white;
}
h1,
h2,
p {
  color: white;
}


